body{}
#input_task{
	       width: 20%;
	       height: 30px;
	       border-radius: 10px;
           text-align: left;
           padding-left: 8px;
           font-size: 16px;
           }
#but_add_task{
	         width: 100px;
	         height: 30px;
             background: #087af6;
             color: #fff; 
             border-radius:10px;
             text-align: center;
             position: absolute;
             margin-top: 3px;
             border-style: none;
             margin-left: 5px;
             font-size: 16px;
            }
.contanier{
    	margin-top: 8%;
		margin-left: 10%;
		margin-right: 10%;
          }            
.row{
	width: 100%;
	

	}
.row_title{
		width: 100%;
		padding-bottom: 20px;
          
          }
.row_list_html{
         width: 100%;
         border-width: 2px;
         margin-top: 20px;
         border-style: solid;
         border-bottom-color:#f3f3f3;
         border-top-style:none; 
         border-right-style: none;
         border-left-style: none;
         padding-bottom: 10px;

         }
#list_name_html{
                 margin-left: 20px;
                 padding: 10px;
                 width:50% ;
                 border-radius: 10px;
                 font-size: 16px;
               }
#list_name_html_change{
                    margin-left: 20px;
                    padding: 10px;
                    width:50% ;
                    border-radius: 10px;
                    font-size: 16px;    
                   }             
.mark{
	  position: absolute;
	  right: 20.5%;
	  color: green;
	  background: none;
	  border-style: none;
	  display: none;

     }
.update{
      position: absolute;
      right: 16.5%;
      color: blue;
      background: none;
      border-style: none;
      display: none;
   
        }

.delete{
        position: absolute;
        right: 12%;
        color: red;
	    background: none;
	    border-style: none;
	    display: none;
       }
.save{
      color: #fff;
      background: green;
      border-radius: 5px;
      font-size: 16px;
      padding: 5px;
      border-color: aqua;
}       
#break{
      position: absolute;
      right: 16%;
      display: none;
       }
 #break2{
          position: absolute;
          right: 20.5%;
          display: none;
           }       
.row_list_html:hover .mark {
display: inline-block;
}  
.row_list_html:hover  .delete {
display: inline-block;
} 
.row_list_html:hover  .update {
     display: inline-block;
     } 
.row_list_html:hover #break{
display: inline-block;
}
.row_list_html:hover #break2{
     display: inline-block;
     }   
.row_list_html:hover {
border-bottom-color: #000;
}                                

.markColorCheck{
background: green;
color: #fff;
border-radius: 20px;
padding-top: 10px;

}
.deleteColorCheck{

  display: none;
}
.resultTaskeNull{
   width: 100%;
   text-align: center;
   color: #087af6;
   margin-top: 50px;
}